In [11]:
import seaborn as sns
import pandas as pd
import numpy as np

In [14]:
Housing_Data = pd.read_csv("data.csv")
Housing_Data.head()

        price     size
0  500681.128  1508.84
1  494778.992  1842.51
2  458674.256  1275.46
3  454512.760  1496.36
4  444192.008  1300.96

In [ ]:
diff_PriceSize =